.footer {
    background-color: #0585b8;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    bottom: 0px;
    width: 100vw;

    &-menu {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: space-between;
        padding-right: 5%;

        ul {
            list-style: none;
            border-left: 1px solid;
            padding-left: 2%;

            li {
                padding-top: 5%;
                margin: auto;
            }
            .wsp {
                line-height: 100%;
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 20px;
                padding-inline: 2px;
                cursor: pointer;
            }
        }
        &__item {
            a {
                line-height: 100%;
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 20px;
                padding-inline: 2px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}