.header {
    position: sticky;
    top: 0%;
    width: 100vw;
    flex-direction: column;
    border-bottom: white;
    z-index: 5;
    border-bottom: solid 1px rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(21, 107, 168);

    &-1 {
        background-color: #080b22;
        height: 87px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
        font-family: neon;
        color: rgb(206, 194, 194);
    }

    &__search {
        width: 350px;
        height: 35px;
        border-radius: 17px;
        padding: 0 16px;
    }

    input:hover {
        border-color: #1f0448;
        box-shadow: 0 0 10px #f9fafd;
    }

    &__logos {
        margin-right: 40px;
        display: flex;
        font-size: 25px;
        line-height: 87px;
        a {
            padding-inline: 10px;
            margin-right: 20px;
            &:hover {
                text-shadow: 0 0 20px #d382ee;
                color: white;
            }
        }
    }
    h1 {
        margin-top: 22px;
    }
    #header-logo {
        color: white;
        font-size: 58px;
        line-height: 100%;
        padding-left: 10%;
        font-weight: bold;
        letter-spacing: 5px;
        text-shadow: 0 0 15px #d382ee;
    }
    &-menu {
        height: 40px;
        background-color: #8a2be2;
        input {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-inline: 150px;
            letter-spacing: 2px;
        }
        &__item {
            a {
                font-family: 'Montserrat', sans-serif;
                color: rgb(228, 228, 228);
                font-size: 25px;
                line-height: 40px;
                transition: 0.25s;
                padding: 5px 4px;
                &:hover {
                    background-color: #5b22bed1;
                    color: white;
                    text-shadow: 0 0 20px rgb(255, 255, 255);
                }
            }
        }
    }
    .checkbtn {
        margin: 0 50%;
        line-height: 40px;
        font-size: 30px;
        cursor: pointer;
        display: none;
    }
}